[
    {
	"name": "No argument",
        "compilation_cmd": "-I lib",
        "compilation_database": [
            "compile_commands.json"
        ],
        "files": [
            "examples/simple_compression.c"
        ],
        "machdep": "gcc_x86_64",
        "main": "main"
    },
    {
      "name": "Non existing file",
      "compilation_cmd": "-I lib",
      "compilation_database": [
        "compile_commands.json"
      ],
      "raw_options": { "-val-args": " nosuchfile.data"},		       
      "files": [
        "examples/simple_compression.c"
      ],
      "machdep": "gcc_x86_64",
      "main": "main"
    }
]
